* {
    /* border: 1px dotted green; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow-x: hidden;
  }

header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    color: white; 
    background-color: black;
    align-items: center;
}

header h3 a{
    text-decoration: none;
    color: white;
}

header nav{
    flex: 1;
    text-align: right;
    margin-right: 60px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

section{
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
}

article{
    /* padding: 20px 15%; */
    /* display: flex; */
    /* justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center; */
}

article img {
    width: 30%;
    border-radius: 6px;
    /* height: 40%; */
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

article p{
    text-align: left;
    padding-top: 10px;
}

article h4{
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
}

.bio {
    width: 20%;
    border-right: 2px solid black;
    margin: 10px;
}

.bio-content {
    width: 60%;
}

.bio-content img{
    width: 500px;
}

.portfolio {
    width: 20%;
    border-right: 2px solid black;
    margin: 10px;
}

.portfolio-content{
    width: 60%;
}

.portfolio-content img{
    border: 2px solid gray;
}

.arewealive-img{
    width: 200%;
}

.contact{
    width: 20%;
    border-right: 2px solid black;
    margin: 10px;
}

.contact-content{
    width: 60%;
    margin-top: 15px;
    margin-right: 27px;
}

.contact-content ul li a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    body{
        overflow-x: hidden;
    }
    
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header nav {
      display: inline;
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
    
    article img{
        width: 25%;
    }

    .bio-content img{
        width: 30%;
    }

    .portfolio h1{
        font-size: 17px;
    }

    .contact h1{
        font-size: 17px;
    }

  }