* {
    margin: 0px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: white
}

body {
    background-color: rgb(172, 25, 25);
}

img {
    width: 200px;
    margin: 15px;
}

.huxley {
    width: 400px;
}