* {
    margin: 0px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: white;
    /* border: 1px dashed red; */ 
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    color: grey;
}

.yaakov:hover {
    color: rgb(255, 192, 3);
    size-adjust: 20px;
    transition: .5s;
}

.portfolio:hover {
    color: rgb(172, 25, 25);
    size-adjust: 20px;
    transition: .5s;
}

.contact:hover {
    color: rgb(29, 141, 239);
    size-adjust: 20px;
    transition: .5s;
}

p {
    margin: 100px;
}


/* @media screen and (max-width: 500px) {

article {
    justify-content: center;
    text-align: center;
}

ul li {
    justify-content: center;
    text-align: center;
}


} */
